.card_product {
    width: 235px;
    height: 350px;
    background-color: #d9f1fa;
    border-radius: 10%;
    box-shadow: 5px 5px 10px #0B5ED7;
    margin: 15px;
}

.img_product {
    border-radius: 11%;
    margin-top: 10px;
    border: solid 5px #0B5ED7;
}

.input {
    width: 65px;
    align-items: center;
}