<form class="form-group row card_product">

    <div class="row">
        <div class="form-group col-12">
            <H3 class="title" style="text-align: center;">{{producto.name}}</H3>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12">
            <label [ngStyle]="{color: cantidad < producto.min?'red':'black'}" for="nombre" 
                style="text-align: center;text-decoration-line: underline;">Cantidad Minima: {{producto.min}}</label>
            <label [ngStyle]="{color: cantidad > producto.max?'red':'black'}" for="cargo" 
                style="text-align: center;text-decoration-line: underline;">Cantidad Maxima: {{producto.max}}</label>
        </div>

        <div class="form-group col-7">
            <h6 for="nombre" style="text-align: center;">Cantidad a comprar</h6>
        </div>
        <div class="form-group col-5">
            <input type="number" name="cantidad" [(ngModel)]="cantidad" id="cantidad" value="" class="form-control input" (ngModelChange)="checkPossible()">
        </div>
    </div>

    <div class="col-2"></div>
    <div class="col-8">
        <input type="submit" value="Comprar" class="btn btn-primary col-12" style="margin-top: 20px;" [disabled]="disable" (click)="senToShoppingCart()">
    </div>
</form>